@font-face {
    font-family: 'GothamBlack';
    src: url('/GROUPE/ASSETS/Font/Gotham-Black.otf');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('/GROUPE/ASSETS/Gotham-Font/GothamMedium.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GothamBlack";
}

body {
    height: 100vh;
    width: 100vw;
}

.background {
    background-color: #000;
    height: 100%;
    width: 100%;
    display: flex;
}

.header {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.left {
    height: 100%;
    width: 90%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square {
    height: 70%;
    width: 100%;
    background-color: #000;
}

.info {
    margin-left: 5%;
    width: 90%;
    height: 100%;
}

.menuv2 {
    border-top: 1px solid #fff;
    margin-top: 30px;
    color: #fff;
    display: flex;
    height: 10%;
    width: 80%;
    justify-content: space-between;
    align-items: center;

}

#TOP {
    margin-top: 7%;
}

.text {
    width: 400px;
    font-size: large;
    font-family: "GothamMedium";
    text-align: justify;
}

.titre {
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    font-family: "GothamBlack";
}

.titre:hover {
    color: #000;
    -webkit-text-stroke: 1px #fff;
    cursor: pointer;
}

.item {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    color: #237472;
}

.infoitem {
    font-size: 1.5em;
    padding-bottom: 20px;
    text-align: right;
    font-family: none;
}

.infoitem:hover {
    color: #3f6c6a;
    cursor: pointer;
}

.clients{
    text-decoration: none;
    color: #237472;
}

.work{
    text-decoration: none;
}



@media screen and (max-width: 1180px) {
    
    .text {
        display: none;
    }


}